* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #222629;
}
.box {
    text-align: start;
    font-size: 60px;
    color: #ac3b61;
}
.box1 {
    width: 1024px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.644);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
nav a {
    text-decoration: none;
    color: #ac3b61;
    padding-left: 70px;
    padding-right: 70px;
    font-size: 20px;
}
.container {
    max-width: 600%;
    max-height: max-content;
    margin-bottom: auto;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    width: 700px;
}
h1, h2, h3 {
    color: #ac3b61;
    text-align: center;
}
.box2 {
    text-align: left;
    color: black;
    font-size: 20px;
    padding: 30px;
    background-color: #ffc89a;
    margin-bottom: 50x;
    border: 2px solid #ac3b61;
}
.box3 {
    text-align: left;
    color: black;
    font-size: 20px;
    padding: 30px;
    background-color: #ffc89a;
    border: 2px solid #ac3b61;
}
.box4 {
    text-align: left;
    color: black;
    font-size: 20px;
    padding: 30px;
    background-color: #ffc89a;
    border: 2px solid #ac3b61;
}
.box5 {
    text-align: left;
    color: black;
    font-size: 20px;
    padding: 30px;
    background-color: #ffc89a;
    border: 2px solid #ac3b61;
}
.box6 {
    text-align: left;
    color: black;
    font-size: 20px;
    padding: 30px;
    background-color: #ffc89a;
    border: 2px solid #ac3b61;
}
.container1 {
    width: 1000px;
    height: 400px;
   background-color: #efefef;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    display: flex;
}
img {
    width: 345px;
    height: 345px;
    margin-left: auto;
    margin-right: auto;
}
.form{
        text-align: center;
        background-color: #efefef;
        color: #ac3b61;
        margin: auto;
        border: 2px solid black;
}
.box0 {
    margin: auto;
    border: 2px solid black;
    width: 350px;
    height: 350px;
}
.name {
    width: 450px;
    height: 40px;
    font-style: italic;
    font-size: 15px;
}
.email {
    width: 450px;
    height: 40px;
    font-style: italic;
    font-size: 15px;
}
.message {
    width: 450px;
    height: 60px;
    font-style: italic;
    font-size: 15px;
}
.box7 {
        padding: 15px;
}
.box8 {
    padding: 15px;
}
.box9 {
    padding: 15px;
}
.button {
    padding: 10px;
}
#get {
    margin-bottom: 50px;
}
